#listAllVehicle
{
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

#searchVehiclesDiv 
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchVehicleButton 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

@media screen and (max-width: 990px) {

    #listAllVehicle 
    {
        height: inherit;
        margin-left: inherit;
        margin-right: inherit;
        margin-bottom: 10%;
    }
}