#listAdminRent 
{
    margin-left: 10%;
    margin-right: 10%;
}

#registerRent 
{
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#registerReturn 
{
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#searchAdminRentDiv
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchAdminRentButton
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}