#listAllClient
{
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

#searchClientDiv 
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchClientButton 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#deleteClientButton
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    border-color: #ff0000 !important;
    margin-bottom: 5%;
}

@media screen and (max-width: 1920px) {

    #listAllClient 
    {
        height: 600px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1600px) {

    #listAllClient 
    {
        height: 500px;
    }
}

@media screen and (max-width: 990px) {

    ##listAllClient
    {
        height: inherit;
        margin-left: inherit;
        margin-right: inherit;
        margin-bottom: 10%;
    }
}