#searchIndexDiv
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchIndexButton
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    border-color: #FF9900 !important;
}

#listAllVehicles 
{   
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 1920px) {

    #listAllVehicles
    {
        height: 600px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 990px) {

    #listAllVehicles
    {
        height: inherit;
        margin-left: inherit;
        margin-right: inherit;
        margin-bottom: 10%;
    }
}