#listLogin 
{
    margin-left: 10%;
    margin-right: 10%;
}

#formLogin
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#submitLogin
{
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    border-color: #FF9900 !important;
}

#redirectSignIn
{
    margin-bottom: 5%;
}

@media screen and (max-width: 990px) {

    #formLogin
    {
        height: inherit;
        margin-left: inherit;
        margin-right: inherit;
        margin-bottom: 10%;
    }
}