@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'Electrolize', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/


/* everywhere */
body
{
    background-size: cover;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Electrolize', sans-serif;
    font-size: 80px !important;
}

h2 {
    padding-top: 3%;
    font-family: 'Electrolize', sans-serif;
}

h3 {
    font-size: 50px !important;
    font-family: 'PT Sans', sans-serif;
}

#hrbar {
    height: 15px !important;
    background-color: #FF9900;
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}

#loginbutton
{   
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
}

#linkVehicle {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

/* cookie */

#cookie
{
    background-color: rgba(255, 255, 255, 0.6);
}

#yesCookie
{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    height: 50px;
    border-color: #FF9900 !important;
}

#noCookie
{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    height: 50px;
    border-color: #FF9900 !important;
}

/* listVehicles */

#searchIndexDiv
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchIndexButton
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    border-color: #FF9900 !important;
}

#listAllVehicles 
{
    margin-left: 10%;
    margin-right: 10%;
}

/* login */

#listLogin 
{
    margin-left: 10%;
    margin-right: 10%;
}

#formLogin
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#submitLogin
{
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color : #FF9900;
    border-color: #FF9900 !important;
}

#redirectSignIn {
    margin-bottom: 5%;
}

/* signin */

#formSignIn 
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#listSignIn 
{
    margin-left: 10%;
    margin-right: 10%;
}

#submitSignIn
{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/*userOption */

#formUser 
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#listUser 
{
    margin-left: 10%;
    margin-right: 10%;
}

#submitUserOption 
{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#redirectUpdatePassword 
{
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* userRent */

#listRentUserVehicles
{
    margin-left: 10%;
    margin-right: 10%;
}

/* adminRent */

#listAdminRent 
{
    margin-left: 10%;
    margin-right: 10%;
}

#registerRent 
{
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#registerReturn 
{
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

#searchAdminRentDiv
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchAdminRentButton
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* adminClients */

#listAllClient
{
    margin-left: 10%;
    margin-right: 10%;
}

#searchClientDiv 
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchClientButton 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* adminVehicles */

#listAllVehicle
{
    margin-left: 10%;
    margin-right: 10%;
}

#searchVehicleDiv 
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

#searchVehicleButton 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* registerRent */

#formRentAdmin
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#registerRentAdmin
{
    margin-left: 10%;
    margin-right: 10%;
}

#submitRentAdmin
{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* registerReturn */

#formReturnAdmin 
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#registerReturnAdmin
{
    margin-left: 10%;
    margin-right: 10%;
}

#submitReturnAdmin
{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}

/* updatePassword */

#formUpdatepassword
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#updatePassword
{
    margin-left: 10%;
    margin-right: 10%;
}

#submitUserPwd
{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FF9900;
    border-color: #FF9900 !important;
}